@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

html, body {
    background: url(/images/bg1337.png?5) #350a01 no-repeat center top;
    font-family: Open Sans;
    overflow-x: hidden;
}

a {
    color: #49525a;
    text-decoration: none;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

em {
    font-style: normal;
}

b {
    font-weight: bold;
}

h1 {
    display: block;
    font-size: 17px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.hidden {
    overflow: hidden;
}

.clear {
    clear: both;
}

.ell {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wrapper a, :before, button[type="submit"], input[type="submit"] {
    transition: all 0.5s ease;
}

.wrapper {
    min-width: 1000px;
}

.full {
    width: 1000px;
    margin: 0 auto;
}

.header {
    /* background: url(/images/hero.png) no-repeat center 0; */
    background-size: cover;
    background-position-x: 0px;
    background-position-y: -100px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.nav {
    overflow: hidden;
    height: 59px;
}

.nav ul {
    float: left;
    position: relative;
    left: 50%;
}

.nav li:last-child:after {
    background: 0;
}

.nav li:after {
    background: #eccb6b;
    width: 25px;
    height: 7px;
    border-radius: 100px;
    position: absolute;
    top: 27px;
    right: -54px;
    content: '';
}

.nav li {
    float: left;
    position: relative;
    right: 50%;
    margin: 0 43px;
}

.nav li:nth-child(1) a {
    /* background: url(../images/ico1.png) no-repeat 0 center; */
}

.nav li:nth-child(2) a {
    /* background: url(../images/ico2.png) no-repeat 0 center; */
}

.nav li:nth-child(3) a {
}

.nav li:nth-child(4) a {
    /* background: url(../images/ico4.png) no-repeat 0 center; */
}

.header .full .nav{
    margin-top: 8px;
    background-color: rgba(255, 234, 197, 0.94);
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.62);
}

.nav a {
    height: 39px;
    /*line-height: 60px;*/
    display: block;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav a:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.logo {
    background: url(https://cubecase.ru/images/logo.png) no-repeat 0 0;
    width: 230px;
    height: 110px;
    position: absolute;
    bottom: 17px;
    left: 48%;
    margin-left: -98px;
}

.login {
    width: 170px;
    height: 45px;
    line-height: 46px;
    text-align: center;
    background: #eccb6b;
    position: absolute;
    left: 50%;
    margin-left: -85px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.login:hover {
    background: #ed4f4f;
}

.panel {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 40%;
    margin-left: -310px;
}
#bg_promocode{
    position: relative;
    top: 123px;
    left: 957px;
    color: white;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    height: 22px;
    width: 133px;
}
.mini_profile {
    float: left;
    margin: 2px 0 0 0;
    height: 91px;
    width: 420px;
    background-repeat: no-repeat;
    background: url(/images/info.png?4);
    padding: 5px;
    border-radius: 6px;
}

.mini_profile_ava {
    float: left;
    width: 85px;
    height: 85px;
    border-radius: 3%;
    /* background: #eccb6b; */
    margin: 3px 17px 0px 6px;
}

.mini_profile_ava img:hover {
    /* -webkit-filter: opacity(99%); */
}

.mini_profile_ava img {
    width: 75px;
    height: 75px;
    border-radius: 6%;
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 50px 0px #272727;
}

.mini_profile_login {
    width: 154px;
    font-family: Open Sans;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    margin-top: 5px;
}

.mini_profile_balance {
    font-family: Open Sans;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    height: 22px;
}

.mini_profile_balance b {
    color: #eccb6b;
    text-transform: uppercase;
}

.mini_profile_payment {
    height: 29px;
    position: absolute;
    top: 61px;
    left: 100px;
    color: #5d7080;
}
.mini_profile_right {
    height: 29px;
    position: absolute;
    top: 13px;
    left: 300px;
}
.mini_profile_right a{
display: block;
height: 33px;
}
.mini_profile_right img{
  height: 45px;
}
.mini_profile_right img:hover{
  opacity: 0.8;
}

/
/
.mini_profile_balance .plus {
/ / background-color: #ec6b6b;
/ / padding: 0 px 5 px 0 px 5 px;
/ / color: white;
/ / border-radius: 3 px;
/ /
}

/
/
.mini_profile_balance .plus:hover {
/ / background-color: #ed4f4f;
/ /
}

/
/
.mini_profile_logout a {
/ / font-weight: bold;
/ / color: #5e6368;
/ / font-size: 14 px;
/ / text-decoration: underline;
/ /
}

/
/
.mini_profile_logout a:hover {
/ / color: #ed4f4f;
/ /
}

.email {
    float: right;
    width: 327px;
}

.email input {
    border: 0;
    outline: 0;
    font-family: PT Sans, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.email input[type="text"] {
    width: 100%;
    height: 29px;
    background: rgba(27, 33, 39, 0.65);
    border-radius: 3px;
    padding: 0 12px;
    margin: 0 0 8px 0;
    color: #535c66;
    font-style: italic;
}

.email input[type="text"]::-webkit-input-placeholder {
    color: #535c66;
}

.email input[type="text"]::-moz-placeholder {
    color: #535c66;
}

.email input[type="text"]:-moz-placeholder {
    color: #535c66;
}

.email input[type="text"]:-ms-input-placeholder {
    color: #535c66;
}

.email_link {
    float: left;
    margin: 0 0 0 3px;
}

.email_link a {
    font-size: 13px;
    color: #fff;
    text-decoration: underline;
}

.email_link a:hover {
    color: #4bbe91;
}

.email input[type="submit"] {
    float: right;
    width: 73px;
    height: 20px;
    background: #46b588;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.email input[type="submit"]:hover {
    background-color: #ed4f4f;
}

.footer {
    overflow: hidden;
    /*padding-top: 40px;*/
    text-align: center;
    color: #e1edef;
}

.footer a, .footer em {
    color: #ffffff;
}

.container {
    overflow: hidden;
}

.last_full {
    width: 100%;
    margin: 0px auto 50px 0px;
    font-family: PT Sans, sans-serif;
}

.last_title {
    margin: 0 auto;
    padding-top: 14px;
    width: 190px;
    font-size: 16px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 100;
    }

.last_title b {
    color: #46b588;
}

.last_loop {
    /* background: #38101b; */
    width: 780px;
    height: 166px;
    position: relative;
    top: 20px;
    left: -15px;
    overflow: hidden;
    padding: 1px 0px 10px 17px;
    border-radius: 4px;
    margin: 0 auto;
}


.controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.controls button:before {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.controls button {
    width: 31px;
    height: 31px;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 47px;
    z-index: 55;
}

.prev-slide {
    background: url(../images/slider.png) no-repeat 0 0;
    left: 60px;
}

.next-slide {
    background: url(../images/slider.png) no-repeat -31px 0;
    right: 60px;
}

.prev-slide:before {
    background: #fff url(../images/slider.png) no-repeat 0 -31px;
}

.next-slide:before {
    background: #fff url(../images/slider.png) no-repeat -31px -31px;
}

.rulet_full {
    height: 340px;
    border-radius: 3px;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    font-family: PT Sans, sans-serif;
    margin-bottom: 75px;
    margin-top: 50px;
}

.chances {
    width: 100%;
    position: absolute;
    bottom: -100px;
    text-align: center;
}

.rulet_title {
    border-bottom: 3px solid #eccb6b;
    width: 154px;
    height: 50px;
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -77px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.rulet_title b {
    display: block;
    position: relative;
    top: 5px;
    margin: 4px 0 0 0;
}

.rulet_title em {
    color: #eccb6b;
}

.rulet_btn:hover {
    background: #dc6d04;
    border-bottom: 3px solid #ea7800;
}

.rulet_btn:hover b {
    /* background: #d34343; */
}

.rulet_btn {
    height: 41px;
    line-height: 41px;
    position: absolute;
    bottom: -20px;
    left: 38%;
    text-align: center;
    margin: 0 auto;
    background: #e87300;
    border-bottom: 3px solid #cd3100;
    border-radius: 3px;
    padding-left: 10px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.rulet_btn span {
    display: block;
    float: left;
    width: 150px;
    height: 41px;
    text-align: center;
    font-family: PT Sans, sans-serif;
}

.rulet_btn b {
    display: block;
    float: right;
    width: 57px;
    /* background: #42a97f; */
    border-left: 1px solid rgba(238, 238, 238, 0.32);
    height: 41px;
    text-align: center;
    border-radius: 0 30px 30px 0;
    transition: .5s;
    padding: 0 10px 0 10px;
}

.rulet_full:after {
    background: #eccb6b;
    width: 10px;
    /* background-size: cover; */
    height: 50px;
    position: absolute;
    top: 260px;
    border-radius: 50px;
    left: 493px;
    content: '';
    box-shadow: 0px 0px 50px 10px rgba(183, 84, 0, 0.55);
}

.rulet:after {
    /* background: url(../images/l2.png) no-repeat 0 0; */
    background-size: cover;
    width: 190px;
    height: 270px;
    position: absolute;
    top: 0;
    left: -3px;
    content: '';
    z-index: 33;
}

.rulet:before {
    /* background: url(../images/r2.png) no-repeat 0 0; */
    background-size: cover;
    width: 190px;
    height: 270px;
    position: absolute;
    top: 0;
    right: -2px;
    content: '';
    opacity: 1;
    z-index: 33;
}

.rulet {
    width: 960px;
    height: 270px;
    position: absolute;
    top: 43px;
    left: 18px;
    overflow: hidden;
}

.rulet.active ul {
    transform: translate3d(-14550px, 0, 0);
}

.rulet ul {
    min-width: 600px;
    width: 1000px;
    height: 244px;
    position: relative;
    left: 10px;
    overflow: hidden;
}

.rulet li:first-child {
    margin: 0;
}

.rulet li {
    display: block;
    float: left;
    margin: 0 0 0 20px;
    width: 170px;
    height: 244px;
}

.rulet img {
    width: 176px;
    height: 244px;
    border-radius: 3px;
}

.rulet_link {
    width: 100%;
    position: absolute;
    bottom: -50px;
    /* left: 260px; */
    text-align: center;
}

.rulet_link a {
    font-size: 18px;
    color: #fff;
    opacity: .3;
}

.ceys_full {
    overflow: hidden;
    padding: 35px 0 0 0;
    font-family: PT Sans, sans-serif;
    font-size: 14px;
}

.ceys_title {
    /* background: url(../images/ceys_title.png) no-repeat center bottom; */
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.lk-nav-tab span {
    min-width: 135px;
    height: 20px;
    padding: 10px;
    background: #f36f6f;
    color: #ffffff;
    border-bottom: 3px solid #74243a;
    border-radius: 3px;
    background-size: 100% 48px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-right: 15px;
    text-align: center;
}

.noactive {
    cursor: pointer;
    background: #eccb6b !important;
    color: #fff;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 25px;
    border-radius: 5px;
    transform: scaleY(1.0002);
}

.noactive:hover {
    text-decoration: underline;
}

.ceys_title b {
    color: #fff;
    border-bottom: 3px solid #eccb6b;
    padding: 10px;
    border-radius: 6px;
    display: -webkit-inline-box;
    /* width: 200px; */
    margin: 0 auto;
    margin-bottom: 5px;
}

.item_loop {
    overflow: hidden;
    padding: 28px 0 0 0;
    width: 1000px;
    /* margin: 0 auto; */
}
.item1down{top: 135px!important;}
.item_images:after {
    /* background: url(../images/item.png) no-repeat 0 bottom; */
    width: 176px;
    height: 216px;
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    z-index: 55;
}

/
/
.item:nth-child(5n) {
/ / margin: 0;
/ /
}

.item:after {
    position: absolute;
    content: '';
    z-index: 80;
}



.item {
    float: left;
    position: relative;
    margin: 0px 11px 43px 11px;
}

.item_images {
    width: 176px;
    height: 244px;
    position: relative;
}

.item_images:hover .item_open {
    opacity: 1;
}

.item_images:hover:before {
    opacity: 1;
}

.item_images:before {
    opacity: 0;
    background: rgba(14, 57, 183, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 95;
    border-radius: 3px 3px 0 0;
}

.item_images img {
    width: 176px;
    height: 244px;
    border-radius: 3px 3px 0 0;
}

.item_rub {
    position: absolute;
    font-size: 13px;
    color: #fff;
    padding: 9px 15px;
    background: #ee7200;
    border-radius: 40px;
    right: 10px;
    bottom: 45px;
    display: inline-block;
    z-index: 3;
}
.item_rub i{
    text-decoration: line-through;
    color: rgb(1, 12, 45);
    padding-right: 3px;
    font-size: 14px;
    font-weight: bold;
    /*text-shadow: #e4552a 0px 0px 1px;*/
}

.item:before {
    content: '';
    position: absolute;
    top: -31px;
    left: 64px;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background: #1C1C1C;
    z-index: 1;
    display: none;
}

.item div.fon {
    position: absolute;
    top: -31px;
    left: 63px;
    display: none;
    width: 63px;
    height: 31px;
    /* background: #ffffff; */
    z-index: 2;
}

.item div.border {
    position: absolute;
    z-index: 1;
    border-color: #f07b0d !important;
    width: 166px;
    height: 227px;
    border: 5px solid;
    border-bottom-width: 12px;
    border-radius: 3px;
}

.item_rub b {
    /* display: block; */
    position: relative;
    top: px;
}

.item_text1 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 0 5px;
    margin: 7px 0 0 0;
    word-wrap: normal;
    color: #eee;
}

.item_text2 {
    text-align: center;
    color: #8e9093;
}

.item_open {
    height: 32px;
    width: 130px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: 94px;
    left: 22px;
    background: #cd3100;
    color: #ffffff;
    z-index: 100;
    border-radius: 5px;
    font-weight: 100;
    transition: all 0.5s ease;
    font-weight: 100;
    opacity: 0;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(255, 190, 0, 0.30);

}

.item_open:hover {
    color: #ffffff;
    background: #ee7200;
}

.stats {
    /* background: #3b1115; */
    height: 146px;
    overflow: hidden;
    width: 100%;
}

.stats ul {
    float: left;
    position: relative;
    left: 50%;
}

.stats li {
    float: left;
    position: relative;
    right: 50%;
    text-align: center;
    margin: 45px 55px 0 55px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.stats li:last-child:after {
    background: 0;
}

.stats li:after {
    background: #ee7200;
    width: 68px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 12px;
    right: -95px;
    content: '';
}

.stats b {
    display: block;
    text-shadow: 0 0 20px rgba(133,66,0,.3);
    background: url(/images/stats_block.png) 0 0 no-repeat;
    margin: 0 auto;
    width: 158px;
    height: 70px;
    line-height: 74px;
    margin: -17px auto 0;
    color: #010c2d;
    text-align: center;
    font-size: 29px;
    margin-left: 10px;
}

.arcticmodal-overlay, .arcticmodal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.arcticmodal-container {
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

*:first-child + html .arcticmodal-container {
    height: 100%;
}

.arcticmodal-container_i {
    height: 100%;
    margin: 0 auto;
}

.arcticmodal-container_i2 {
    padding: 24px;
    margin: 0;
    border: 0;
    vertical-align: middle;
}

.arcticmodal-error {
    padding: 20px;
    border-radius: 10px;
    background: #000;
    color: #fff;
}

.arcticmodal-loading {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.modal {
    position: relative;
    z-index: 100;
    background: #fff;
    border-radius: 3px;
    padding: 30px 0 0 0;
}

.modal_title {
    background: url(/images/info.png?3) no-repeat top;
    width: 168px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -84px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.modal_title b {
    color: #ffff;
}

.modal_close {
    background: #eccb6b url(../images/close.png) no-repeat center center;
    width: 20px;
    height: 21px;
    position: absolute;
    top: -9px;
    right: 13px;
    cursor: pointer;
    border-radius: 100px;
    transition: .5s;
}

.modal_close:hover {
    background-color: #ed4f4f;
}

.garant {
    padding: 37px 47px 33px 47px;
    overflow: hidden;
}

.garant_i:nth-child(3) {
    margin: 0;
}

.garant_i:nth-child(1) {
    background: url(../images/g1.png) no-repeat center 0;
}

.garant_i:nth-child(2) {
    background: url(../images/g2.png) no-repeat center 0;
}

.garant_i:nth-child(3) {
    background: url(../images/g3.png) no-repeat center 0;
}

.garant_i {
    float: left;
    width: 206px;
    margin: 0 48px 0 0;
    padding: 105px 0 0 0;
}

.garant_name {
    background: url(../images/garant_name.png) no-repeat center bottom;
    margin: 0 0 20px 0;
    padding: 0 0 18px 0;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #0058fd;
    border-bottom: 3px solid #0058fd;
}

.garant_text {
    text-align: center;
    font-size: 13px;
}

.balance {
    padding: 32px 40px;
    overflow: hidden;
    text-align: center;
}

.balance_text {
    background: url(../images/balance_text.png) no-repeat center bottom;
    font-size: 13px;
    padding: 0 0 18px 0;
    margin: 0 0 22px 0;
}

.balance input {
    outline: 0;
    border: 0;
    font-family: PT Sans, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.balance input[type="text"] {
    width: 98px;
    height: 40px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    background: 0;
    text-align: center;
    padding: 0 10px;
    margin: 0 0 22px 0;
    color: #43474d;
}

.balance input[type="submit"] {
    width: 152px;
    height: 42px;
    background: #eccb6b;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.balance input[type="submit"]:hover {
    background-color: #ed4f4f;
}

.rulet_win {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0 16px 0;
}

.rulet_win b {
    display: block;
    color: #46b588;
}

.rulet_full2 {
    margin: 27px auto 0 auto !important;
}

.rulet_btn2 {
    width: 200px !important;
    position: relative !important;
    bottom: 0 !important;
    margin: 0 auto !important;
    left: 0 !important;
}

.rulet_btn2 span {
    width: 134px !important;
    font-weight: bold;
}

.rulet_btn2 b {
    width: 66px !important;
}

.case-content-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 40px 0 20px 0;
}

.case-content {
    width: 935px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 30px 0;
}

.case-i:nth-child(5n) {
    margin: 0;
}

.case-i:after {
    background: rgba(70, 181, 136, 0.15);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-radius: 3px;
}

.case-i {
    width: 130px;
    height: 201px;
    float: left;
    position: relative;
    margin: 0 15px 18px 0;
}

.case-i img {
    width: 130px;
    height: 165px;
    border-radius: 3px 3px 0 0;
}

.case-name {
    background: url(../images/case-name.png) no-repeat 0 0;
    border-radius: 0 0 3px 3px;
    width: 130px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 15px;
    overflow: hidden;
    font-weight: bold;
    z-index: 22;
}

.contentget {
    max-width: 760px;
    background-color: #f5f5f5;
    margin-left: 150px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.contentget .left {
    padding-left: 60px;
    padding-top: 50px;
}

.headerget {
    display: flex;
}

.contentget .right {
    padding-left: 30px;
    padding-top: 45px;
    float: left;
}

.gamenameget {
    font-size: 40px;
    font-weight: bold;
}

.gameitem {
    margin-top: 20px;
    width: 437px;
    height: 125px;
    background-image: url(/images/item/gets.png);
}

.getinfo {
    font-size: 15px;
    font-weight: bold;
    color: #d6c899;
    text-align: center;
    padding-top: 25px;
}

.prizget {
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
    color: #776c45;
    font-size: 16px;
}

.prizgetkey {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #776c45;
    font-size: 24px;
}

.getitemhr {
    margin-top: 36px;
}

.text1gets {
    font-family: 'PT Sans', sans-serif;
    padding-top: 25px;
    font-size: 15px;
    color: #43474d;
    padding-left: 55px;
    padding-right: 50px;
}

.text2gets {
    font-family: 'PT Sans', sans-serif;
    padding-top: 25px;
    font-size: 15px;
    color: #43474d;
    padding-left: 55px;
    padding-right: 50px;
    padding-bottom: 25px;
}

.ahrefget {
    color: #46b588;
    text-decoration: underline;
}

.ahrefget:hover {
    color: #82c7a9;
    text-decoration: none;
}

.footerget {
    padding-bottom: 15px;
}

.contacts_full {
    margin-bottom: 225px;
}

.contacts_title {
    background: url(../images/ceys_title.png) no-repeat center bottom;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}

.contacts_title b {
    color: #46b588;
}

.contacts-links {
    width: 300px;
    float: left;
}

.contacts-links_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #46b588;
    margin: 0 0 15px 0;
}

.contacts-item {
    display: block;
    height: 30px;
}

.contacts-item_icon {
    width: 20px;
    padding: 5px 0;
    display: inline-block;
}

.contacts-item a {
    line-height: 30px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    margin-left: 40px;
    display: inline-block;
}

.contacts-item a:hover {
    color: #46b588;
    text-decoration: none;
}

.contacts-item:nth-child(1) {
    background: url(../images/contacts-mail.png) no-repeat 0 center;
}

.contacts-item:nth-child(2) {
    background: url(../images/contacts-vk.png) no-repeat 0 center;
}

.contacts-item:nth-child(3) {
    background: url(../images/contacts-skype.png) no-repeat 0 center;
}

.contacts-info {
    width: 700px;
}

.contacts-info_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #46b588;
    margin: 25px 0 15px 0;
}

.contacts-info_content {
    color: #606e7e;
    margin-bottom: 25px;
}

.faq_full {
    margin-bottom: 120px;
    width: 870px;
}

.faq_title {
    /* background: url(../images/ceys_title.png) no-repeat center bottom; */
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}

.faq_title b {
    color: #FFFFFF;
}

.faq-item {
    margin-bottom: 60px;
    background: #029297;
    padding: 15px;
    border-radius: 3px;
}

.faq-item_header {
    background: url(../images/faq-question.png) no-repeat 0 center;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.faq-item_content {
    color: #b4b4b4;
    font-size: 14px;
}

.feedback_full {
    margin-bottom: 120px;
}

.feedback_title {
    /* background: url(../images/ceys_title.png) no-repeat center bottom; */
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    color: #FFFFFF;
}

.feedback_title b {
    color: #eccb6b;
}

.feedback_container {
    margin: 0 auto;
}

.item_price {
    z-index: 1;
    position: absolute;
    right: 9px;
    bottom: 10px;
    background: #cd3100;
    line-height: 29px;
    padding: 0 9px 0 14px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
}

.item_price::after {
    content: "РУБ";
    vertical-align: super;
    font-size: 9px;
    margin-left: 2px;
    line-height: 10px;
    font-weight: 400;
}

.item_images1 {
    margin-bottom: -4px;
    position: relative;
}

.item_images1:hover .item_open1 {
    opacity: 1;
}
.item_images1:hover .item_sell1 {
    opacity: 1;
}


.item_loop2 {
    text-align: center;
}

.item_images1 img {
    width: 145px;
    height: 190px;
    border-radius: 3px;
}

.item_open1 {
    width: 75px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: 90px;
    left: 50px;
    background: #eccb6b;
    color: #fff;
    z-index: 77;
    border-radius: 3px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}

.item_sell1 {
    width: 150px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: 140px;
    left: 15px;
    background: #eccb6b;
    color: #fff;
    z-index: 77;
    border-radius: 3px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}


.item_open1:hover {
    background: #ed4f4f;
    color: #fff;
}
.item_sell1:hover {
    background: #ed4f4f;
    color: #fff;
}

.items {
    width: 130px;
    display: inline-table;
    margin-right: 10px;
    margin-bottom: 14px;
    position: relative;
}

.item_loop2 {
    overflow: hidden;
    padding: 28px 0 0 0px;
}

.item_images2 {
    width: 130px;
    height: 165px;
    position: relative;
}

.item_images2:hover .item_open {
    opacity: 1;
}

.item_images2 img {
    width: 130px;
    height: 165px;
    border-radius: 3px 3px 0 0;
}

.item_open2 {
    width: 130px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: 220px;
    background: #e2e2e2;
    color: #fff;
    z-index: 77;
    border-radius: 3px;
    font-weight: bold;
}

.item_open2:hover {
    width: 130px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: 220px;
    background: #ed4f4f;
    color: #fff;
    z-index: 77;
    border-radius: 3px;
    font-weight: bold;
}

.item_open123 {
    width: 31px;
    height: 31px;
    left: 50px;
    text-align: center;
    position: absolute;
    top: 70px;
    background-image: url(/images/item/ckeck.png);
}

.item_text22 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 0 5px;
    margin: 7px 0 0 0;
    word-wrap: normal;
    color: #aeafb1;
}

.type_pay a span {
    font-size: 13px;
    font-weight: 400;
    display: block;
    color: #ffffff;
    font-family: 'Open sans', sans-serif;
}

.type_pay {
    margin-bottom: 38px;
    margin-top: 17px;
    padding: 0 12px;
}

.type_pay a:hover {
    opacity: .9;
}

.type_pay a:hover:after {
    opacity: .1;
}

.type_pay a:after {
    content: '';
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    background: url(/images/selected_pay.png?ver=2) no-repeat left top;
    bottom: 6px;
    right: 6px;
    opacity: 0;
    transition: all .2s ease;
}

.type_pay a.active:after {
    opacity: 1 !important;
}

.type_pay a.active {
    background: rgb(108, 168, 245) !important;
    color: #eee;
}

#pay .close {
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    background: url(/images/cross_wh.png) no-repeat center center;
}

.type_pay a span {
    font-size: 11px;
}

a.yad:before {
    content: '';
    width: 25px;
    height: 29px;
    background: url(/images/pay-sprite.png) no-repeat 0 -28px;
    position: absolute;
    left: 14px;
    top: 18px;
}

a.wmr:before {
    content: '';
    width: 27px;
    height: 27px;
    background: url(/images/pay-sprite.png) no-repeat 0 0;
    position: absolute;
    left: 13px;
    top: 19px;
}

a.qiwi:before {
    content: '';
    width: 27px;
    height: 28px;
    background: url(/images/pay-sprite.png) no-repeat 0 -58px;
    position: absolute;
    left: 13px;
    top: 19px;
}

a.sber:before {
    content: '';
    width: 30px;
    height: 28px;
    background: url(/images/pay-sprite.png) no-repeat -28px -27px;
    position: absolute;
    left: 13px;
    top: 19px;
}

a.visa:before {
    content: '';
    width: 32px;
    height: 26px;
    background: url(/images/pay-sprite.png) no-repeat -28px 0;
    position: absolute;
    left: 11px;
    top: 17px;
}

a.proms:before {
    content: '';
    width: 30px;
    height: 30px;
    background: url(/images/pay-sprite.png) no-repeat -28px -56px;
    position: absolute;
    left: 13px;
    top: 19px;
}

a.vtb:before {
    content: '';
    width: 27px;
    height: 22px;
    background: url(/images/pay-sprite.png) no-repeat -61px 0;
    position: absolute;
    left: 13px;
    top: 21px;
}

a.alpha:before {
    content: '';
    width: 20px;
    height: 31px;
    background: url(/images/pay-sprite.png) no-repeat -61px -23px;
    position: absolute;
    left: 18px;
    top: 18px;
}

a.megaf:before {
    content: '';
    width: 28px;
    height: 28px;
    background: url(/images/pay-sprite.png) no-repeat -89px 0;
    position: absolute;
    left: 13px;
    top: 18px;
}

a.mts:before {
    content: '';
    width: 28px;
    height: 28px;
    background: url(/images/pay-sprite.png) no-repeat -90px -29px;
    position: absolute;
    left: 13px;
    top: 18px;
}

a.bee:before {
    content: '';
    width: 28px;
    height: 28px;
    background: url(/images/pay-sprite.png) no-repeat -91px -58px;
    position: absolute;
    left: 14px;
    top: 18px;
}

a.tele2:before {
    content: '';
    width: 42px;
    height: 15px;
    background: url(/images/tele2-1.png) no-repeat 0 0;
    position: absolute;
    left: 9px;
    top: 25px;
}

a.walletone:before {
    content: '';
    width: 46px;
    height: 40px;
    background: url(/images/w1.png) no-repeat -2px -12px;
    background-size: cover;
    position: absolute;
    left: 9px;
    top: 22px;
}

}
a.paypal:before {
    content: '';
    width: 30px;
    height: 28px;
    background: url(/images/p-pal.png) no-repeat 0 0;
    position: absolute;
    left: 13px;
    top: 19px;
}

a.itempay:before {
    content: '';
    width: 38px;
    height: 28px;
    background: url(/images/i-pay-1.png) no-repeat 0 0;
    position: absolute;
    left: 13px;
    top: 19px;
}

a.visa_maestro:before {
    content: '';
    width: 34px;
    height: 31px;
    background: url(/images/vv.png) no-repeat 0 0;
    position: absolute;
    left: 13px;
    top: 19px;
}

a.sber_alfa_v :before {
    content: '';
    width: 47px;
    height: 46px;
    background: url(/images/sav.png) no-repeat 0 0;
    position: absolute;
    left: 7px;
    top: 10px;
}

a.online-bank :before {
    content: '';
    width: 47px;
    height: 46px;
    background: url(/images/sberb-1.png) no-repeat 0 0;
    position: absolute;
    left: 18px;
    top: 20px;
}

.webmoney {
    float: right;
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
}

.webmoney a:hover span {
    color: #ff6732;
    text-decoration: underline;
}

.webmoney a span {
    transition: all .2s ease;
    display: inline-block;
    color: #747474;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
}

.robokassa:before {
    content: '';
    width: 42px;
    height: 15px;
    background: url(/images/rb.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    left: 9px;
    top: 25px;
}

.type_pay a {
    display: inline-block;
    width: 193px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 10px 55px;
    height: 64px;
    border: 1px solid transparent;
    margin: 0;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #142f5a;
}

.type_pay a:hover {
    border: 1px solid #d2d2d2;
}

.type_pay a.active {
    border: 1px solid #eccb6b;
}

.type_pay.offer_pay table tr td:first-child {
    font-size: 18px;
    width: 228px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 20px;
}

.type_pay.offer_pay table tr td:last-child {
    width: 622px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 12px;
}

.type_pay a.big_block_m {
    width: 301px;
}

.type_pay a.online-bank {
    height: 103px;
}

.type_pay a {
    position: relative;
    transition: all .2s ease;
    line-height: 22px;
    font-size: 13px;
    text-decoration: none;
    text-align: left !important;
}

.total_form p {
    font-size: 18px;
}

.total_form .total_title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.total_form .total_title span {
    font-size: 13px;
}

.total_form form {
    text-align: left;
}

.total_form form input {
    font-size: 20px;
    text-align: left;
    padding: 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    width: 120px;
    font-weight: 700;
    color: #484848;
    font-family: 'Open Sans', sans-serif;
}

.total_form form .field_data {
    position: relative;
    margin-right: 10px;
}

.total_form form .field_data:after {
    content: 'РУБ';
    position: absolute;
    background: url(/images/vl-1.png) 0 0 no-repeat;
    top: 10px;
    right: 4px;
    width: 42px;
    height: 20px;
    font-size: 14px;
    color: #cacaca;
    font-weight: 700;
    border-left: 1px;
}

.total_form .total {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    margin-right: 10px;
    padding-top: 10px;
    display: none;
}

.total_form .total span {
    font-size: 11px;
    font-weight: 500;
}

.total_form .total-data {
    font-size: 30px;
    color: #ff6732;
    position: relative;
    padding-right: 20px;
    margin-right: 10px;
}

.total_form .total-data:after {
    position: absolute;
    content: ' ';
    background: url(/images/rub-o.png) 0 0 no-repeat;
    width: 15px;
    height: 21px;
    top: 5px;
    right: 0;
}

.total_form button {
    background: #eccb6b;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 40px;
    color: #fff;
    border-bottom: 2px solid #576bcc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.total_form form {
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.total_form form .field_data, .total_form form .total, .total_form form .total-data {
    float: left;
}

.total_form form button {
    float: left;
}

h2.offer_pay-col-title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 14px;
    color: #cacaca;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}

.type_pay a.disabled {
    cursor: default;
    opacity: 1 !important;
    background: #2e0c15;
}

.type_pay a.disabled {
    background: #2e0c15;
}

.type_pay a.disabled::after {
    width: 100%;
    height: 100%;
    z-index: 20;
    line-height: 65px;
    text-align: center;
    left: 0px;
    top: 0px;
    content: "Временно недоступно :(";
    opacity: 1;
    background: #2e0c15;
}

.type_pay a:after {
    background: url(/images/selected_pay_not_active_small.png) no-repeat left top;
    top: 6px;
    right: -6px;
}

.type_pay a:after {
    content: '';
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    /* background: url(/images/selected_pay.png?ver=3) no-repeat left top; */
    bottom: 6px;
    right: 6px;
    opacity: 0;
    transition: all .2s ease;
    background-size: contain;
}

.wmr_hidden {
    cursor: default;
}

.wmr_hidden > a:last-child {
    margin-right: 0 !important;
}

.wmr_hidden > a:after {
    display: none !important;
}

.wmr_hidden > a {
    width: 22% !important;
    padding: 0 1% !important;
    line-height: 30px;
    height: 30px !important;
    margin-right: 2% !important;
    text-align: center !important;
}

.wm_active {
    background: #ff672a !important;
    border-color: #ffc6b2 !important;
    color: #fff !important;
}

.offer_pay-in {
    margin-right: -20px;
    overflow: hidden;
    margin-right: 0;
}

.offer_pay-col-wrap {
    overflow: hidden;
    margin-right: -20px;
}

.offer_pay-col {
    width: 254px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-right: 15px;
}

.type_pay a:hover {
    border: 1px solid #eccb6b;
}

.type_pay a {
    font-size: 14px;
    font-weight: 500;
}

.type_pay a {
    width: 100%;
}

.auth-button {
    text-align: left;
    height: 48px;
    color: white;
    margin-left: 70px;
}

.auth-type {
    width: 45px;
    height: 48px;
    border: 1px solid rgba(40, 48, 57, 0.3);
    border-width: 0 0 0 1px;
    display: block;
    float: left;
}

.auth-steam {
    background: url(/images/steam.png) no-repeat #43474d;
    background-size: contain;
    width: 48px;
    padding-right: 11px;
}

.auth-vk {
    background: url(/images/vk.png) no-repeat #507299;
    background-size: contain;
    left: 108px;
    width: 49px;
    padding-left: 19px;
    background-position-x: 19px;
}

.auth-button span {
    position: absolute;
    left: 159px;
    top: 99px;
    color: #000000;
    background: #e7e8e9;
    padding: 5px;
    line-height: 35px;
    height: 48px;
}

/*.auth-vk:hover .auth-button {
    background: rgb(70, 181, 136);
}
.auth-vk:hover {
    background: url(/images/vk.png) rgba(70,181,136, 0.9);
    background-size: cover;
    border-radius: 0 5px 5px 0;
}
.auth-vk:hover .auth-button {
    background: #43474d;
}*/
/*
.auth-block{
	position: absolute;
	top: 94px;
	left: 36%;
}
.auth-block a{
	width: 194px;
	height: 50px;
    display: block;
    float: left;
}
.auth-block a.vk{
	background: url(/images/login-vk.png) no-repeat center;
}
.auth-block a.vk:hover{
	background: url(/images/login-vk-hovert.png) no-repeat center;
}
.auth-block a.steam{
	background: url(/images/login.png) no-repeat center;
}
.auth-block a.steam:hover{
	background: url(/images/login-hovert.png) no-repeat center;
}
*/
.auth-block {
    margin-left: 264px;
}

.auth-block .button:hover {
    background: #ec7908;
}

/
/
.auth-block .button:hover b {
/ / background: #d34343;
/ /
}

.auth-block .button {
    line-height: 41px;
    position: absolute;
    bottom: 125px;
    background: #03a9f4;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    background-color: #03a9f4;
    border-radius: 3px;
    padding: 0 10px 0 10px;
}

.auth-block .button span {
    display: block;
    float: left;
    width: 134px;
    height: 41px;
    text-align: center;
}

.auth-block .button b {
    display: block;
    float: right;
    width: 57px;
    height: 41px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid rgba(238, 238, 238, 0.24);
    transition: .5s;
}

.auth-block a div:nth-child(2) {
    margin-left: 200px;
}

.auth-block1 {margin-left: 264px;}
.auth-block1 .button:hover {
	background:#77278b;
}  
// .auth-block1 .button:hover b {
// 	background:#77278b;
// }
.auth-block1 .button {
	line-height:41px;
	position:absolute;
	bottom: 125px;
	background:#03a9f4;
	color:#fff;
	cursor:pointer;
	transition:.5s;
	background-color: #03a9f4;
	padding: 0 10px 0 10px;
}
.auth-block1 .button span {
	display:block;
	float:left;
	width:134px;
	height:41px;
	text-align:center;
}
.auth-block1 .button b {
	display:block;
	float:right;
	width:57px;
	height:41px;
	text-align:center;
	border-radius:0 3px 3px 0;
	transition:.5s;
}
.auth-block1 a div:nth-child(2){
	margin-left: 200px;
}

.items.out_of_stock:before {
    content: '';
    display: block;
    width: 100%;
    height: 192px;
    background: rgba(255, 255, 255, 0.45);
    position: absolute;
    left: 0px;
    top: -2px;
    z-index: 1;
}

.items.out_of_stock::after {
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    content: "Закончился товар. Ожидайте, когда мы его добавим.";
    display: block;
    width: 103px;
    position: absolute;
    left: 21px;
    top: 70px;
    z-index: 1;
    border-radius: 3px;
    padding: 7px 0px;
    background: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.items.out_of_stock.item_price {
    display: none;
}

.magictab-bar {
    font-family: Arial;
    font-size: 13px;
    width: 133px;
    height: 229px;
    position: fixed;
    top: 40%;
    right: -133px;
    transition: right 50ms ease 0s;
    z-index: 100;
}

.bg {
    border-radius: 9px 0px 0px 9px;
    background: #ffffff;
    border: solid 1px #cccccc;
    border-right: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.mt-no-auth {
    width: 76px;
    height: 81px;
    float: left;
    overflow: hidden;
    background: #46b588 !important;
    border: solid 2px #46b588 !important;
}

.mt-no-auth .mt-no-auth-btn {
    cursor: pointer;
    background: transparent url(/images/vk.png) center top no-repeat;
    height: 47px;
    margin-top: 4px;
}

.mt-no-auth-btn {
    border: none;
    padding: 0;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    width: 76px;
    padding-top: 49px;
}

.lk-left-column {
    width: 250px;
    float: left;
    margin-right: 12px;
}

.lk-right-column {
    width: 680px;
    float: left;
}

.lk-margin {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.lk-content .lk-img {
    width: 200px;
    max-height: 250px;
    border-radius: 4px;
}

.green {
    color: #eccb6b;
}

.white {
    color: white
}

.grey {
    color: #ffffff;
}

.bold {
/ / text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
}

.lk-h1 {
    font-size: 30px;
    color: #dfe0e1;
    text-align: left;
    display: block;
    float: left;
    text-transform: uppercase;
}

.clear:after {
    display: table;
    content: '';
    clear: both;
    height: 20px
}

.lk-content {
    background: #cd3100;
}

.lk-content .info-block {
    text-align: left;
    padding: 0 0 0 25px;
}

.lk-remail {
    text-align: left !important;
    color: #aeafb1;
    display: block;
    width: 190px;
    background: #242424;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 7px;
    padding: 12px 0px 12px 10px;
}

.relative {
    position: relative;
}

.lk-email {
    width: 190px;
    height: 39px;
    background: #242424;
    border: none;
    outline: none;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
}

.lk-top {
    position: absolute;
    width: 60px;
    height: 16px;
    font-size: 9.6px;
    line-height: 16px;
    right: 28px;
    top: 28px;
    cursor: pointer;
}

.lc-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 10px;
    border: none;
    line-height: 20px;
    border-radius: 5px;
    background-color: #46b588;
    width: 78px;
    height: 33px;
    text-transform: uppercase;
}

.lk-ref {
    width: 190px;
    height: 39px;
    background: #2e0a14;
    border: none;
    outline: none;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
}

.lc-ref-button {
    display: inline-block;
    background: #5dbc96;
    border: 1px solid #3fa57c;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 6px;
    margin: 10px;
}

span.lk-label {
    color: #d2d2d2;
    display: block;
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: 2px;
}

span.lk-content-label {
    color: #d2d2d2;
    font-size: 18px;
}

.tab-content {
    margin-top: -14px;
    width: 670px;
    float: left;
}

.table-ref {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 640px;
    text-align: left;
    border-collapse: collapse;
    background: #49525a;
    margin: 10px;
}

.table-ref th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}

.table-ref td {
    color: #CAD4D6;
    border-bottom: 1px solid rgba(70, 181, 136, 0.9);
    border-right: 1px solid #37B5A5;
    padding: 7px 17px;
}

.table-ref tr:last-child td {
    border-bottom: none;
}

.table-ref td:last-child {
    border-right: none;
}

.lk-info {
    display: block;
    border-radius: 5px;
    background-color: #eccb6b;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 24px;
    margin-top: 10px;
}

.lk-top2 {
    position: absolute;
    font-size: 10px;
    line-height: 16px;
    right: 25px;
    top: 28px;
    cursor: pointer;
    width: 78px;
    height: 33px;
}

span.lk-label-ref {
    color: #eccb6b;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    display: block;
    margin: 10px 10px 10px 1px;
}

.block-url-ref {
    text-align: left;
}

input.ref-url {
    padding: 10px 15px 10px 10px;
    border-radius: 50px;
    border: none;
    background: #f1f1f1;
    font-size: 20px;
    color: #38101b;
    width: 500px;
}

ul.list-info {
    margin-left: 65px;
    color: #eccb6b;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    display: block;
    margin: 30px 10px 10px 1px;
    text-align: left;
}

ul.list-info a {
    color: white;
    text-decoration: underline;
}

ul.list-info a:hover {
    color: #5dbc96;
}

.mini_profile_login.ell:after {
    content: '';
    position: absolute;
    left: 100px;
    top: 20px;
    background: url('/images/icons/pr.png');
    width: 10px;
    height: 10px;
}

.mini_profile_balance.left:after {
    content: '';
    position: absolute;
    left: 100px;
    top: 45px;
    background: url('/images/icons/bal.png');
    width: 10px;
    height: 10px;
}

.btn-header {
    font-family: 'Open Sans';
    padding: 5px 30px 5px 30px;
    color: white;
    border-radius: 0px;
    font-size: 11px;
    color: white;
    text-decoration: none;
}

.btn-header:hover {
    text-decoration: none;
}

.link-lk {
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: underline;
    text-align: left;
}

.btn-lk {
    background-color: #eccb6b;
    margin-right: 10px;
    border-bottom: 2px solid #1fb0da;
}

.btn-lk:hover {
    background-color: #1fb0da;
}

.btn-balance {
    padding: 5px 30px 5px 30px;
    color: white;
    background-color: #eccb6b;
    font-size: 11px;
    border-bottom: 3px solid #f6d571;
}

.btn-balance:hover {
    background-color: #d45e5e;
}

.header-nav {
    float: left;
    line-height: 106px;
    width: 500px;
    margin-left: 50px;
}

a.btn-header.btn-vk {
    padding: 10px 50px 10px 30px;
    background-color: #cd3100;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    transform: scaleY(1.0066);
    text-transform: uppercase;
}

a.btn-header.btn-vk:after {
    content: '';
	background: url(/images/icons/vk.png);
    width: 22px;
    height: 13px;
    position: absolute;
    top: 46px;
    left: 627px;
}

a.btn-header.btn-vk:hover {
    background-color: #9011f5;
    border-radius: 20px;
}

a.btn-header.btn-open-free {
    padding: 10px 30px 10px 30px;
    background-color: #f36f6f;
    border-radius: 20px;
    font-size: 13.38px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    transform: scaleY(1.0066);
    text-transform: uppercase;
}

a.btn-header.btn-open-free:hover {
    background-color: #d45e5e;
}

.auth-block .button:hover {
    background-color: #ff9226;
    border-radius: 3px;
}

.ya-share2__container_size_m .ya-share2__icon {
    height: 35px !important;
    width: 35px !important;
    background-size: 35px 35px !important;
}

.ya-share2__container_size_m .ya-share2__counter {
    font-size: 12px !important;
    line-height: 35px !important;
    padding: 0 10px !important;
}

li.ya-share2__item.ya-share2__item_service_collections {
    display: none !important;
}

.ya-share2__container_size_m .ya-share2__item {
    margin: 5px 10px 5px 0 !important;
}

.balance_icon:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 6px;
    background: url(/images/icons/bal.png);
    width: 10px;
    height: 10px;
}

.chance_btn {
    height: 41px;
    line-height: 41px;
    position: absolute;
    bottom: -20px;
    left: 38%;
    text-align: center;
    margin: 0 auto;
    background: #eccb6b;
    border-bottom: 3px solid #eccb6b;
    border-radius: 3px;
    padding-left: 10px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.group_icon:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 7px;
    background: url(/images/icons/group.png);
    width: 10px;
    height: 10px;
}

.balance_icon {
    padding-left: 20px;
}

.group_icon {
    padding-left: 20px;
}

.modal, .nav {
    font-family: PT Sans, sans-serif;
}

#button_buy.inprocess {
/ / opacity: 0.8;
    cursor: wait;
}

a div.main_btn {
    height: 41px;
    line-height: 41px;
    background: #eccb6b;
    border-bottom: 3px solid #eccb6b;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

a div.main_btn:hover {
    background: #ed4f4f;
}

a div.main_btn:hover b {
    /* background: #d34343; */
}

a div.main_btn span {
    display: block;
    float: left;
    width: 150px;
    height: 41px;
    text-align: center;
    font-family: PT Sans, sans-serif;
}

a div.main_btn b {
    display: block;
    float: right;
    width: 57px;
    /* background: #42a97f; */
    height: 41px;
    text-align: center;
    border-left: 1px solid rgba(238, 238, 238, 0.32);
    border-radius: 0 30px 30px 0;
    transition: .5s;
    padding: 0 10px 0 10px;
}

.label-feedback {
    padding-left: 47px;
    color: #30373f;
}

.btn-price-for-main {
    width: 228px;
    margin-left: 38%;
    display: block;
    margin: 21px auto;
}

.no-game {
    text-align: center;
    color: white;
}

a.steampay:before {
    content: '';
    width: 30px;
    height: 30px;
    background: url(../images/steampay.png?1) no-repeat;
    position: absolute;
    left: 13px;
    top: 15px;
}
.imgbgtp {
    background: url(/images/footer-bg.jpg) center bottom;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -8888;
}
button.btn-guadrnd {
    /* float: right; */
    background: #eccb6b;
    border: none;
    padding: 15px 35px;
    border-radius: 3px;
    /* margin: 0 auto; */
    /* text-align: center; */
    position: absolute;
}
span.dv-ics-4 {
    width: 20px;
    height: 20px;
    display: -webkit-inline-box;
    background: url(/images/icons/dv-ics4.png) no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-right: 5px;
    /* background-position-y: 10px; */
    position: absolute;
    margin-left: -25px;
}
.lk-h2 {
    font-size: 30px;
    color: #dfe0e1;
    text-transform: uppercase;
    bottom: -100px;
    text-align: center;
}

.live-feed{width:100%;height:185px;overflow:hidden}.live-feed__item{float:left;background-size:111px auto!important;width:111px;height:148px;color:#fff9f0!important;font-size:14px;text-decoration:none;margin:20px 0 20px 38px}.live-feed__item-border{display:block;background:url(/images/live-feed_border.png?2) 0 0 no-repeat;width:125px;height:156px;position:relative;top:-10px;left:-8px}.live-feed__item--hover{opacity:0;display:block;background:url(/images/live-feed_hover.png?2) 0 0 no-repeat;width:125px;height:156px}.live-feed__item:hover .live-feed__item--hover{opacity:1;-webkit-transition:opacity .5s ease;-o-transition:opacity .5s ease;transition:opacity .5s ease}.live-feed__item:not(:hover) .live-feed__item--hover{opacity:0;-webkit-transition:opacity .5s ease;-o-transition:opacity .5s ease;transition:opacity .5s ease}.live-feed__item-avatar-border{display:block;background:#d8b894;width:50px;height:50px;margin:0 auto;position:relative;top:43px;border-radius:5px}.live-feed__item-avatar{display:block;background:url(/images/live-feed_avatar_border.png?2) 0 0 no-repeat;background-size:40px auto!important;width:40px;height:40px;margin:5px;border-radius:5px;position:relative;top:5px}.live-feed__item-personaname{display:block;position:relative;top:53px;left:13px;width:87px;height:20px;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0 6px;text-align:center} 
.category{background: url(/images/category.png) 0 0 no-repeat;width: 231px;height: 70px;line-height: 74px;text-align: center;margin: 80px auto 5px;font-size: 21px;color: #fcf5e4;text-transform: uppercase;text-shadow: 0 0 20px rgba(56,47,34,.7);}.block{width:803px;margin:-10px auto 0}.block__header{position:relative;background:url(/images/block.png) 0 0 no-repeat;width:803px;height:116px;z-index:5;line-height:104px;padding:0 100px;font-size:21px;color:#fcf5e4;text-transform:uppercase;text-shadow:0 0 15px rgba(56,47,34,.4)}.block__body{font-family:AAlterna,sans-serif;background:#337bb5;width:709px;margin:0 auto;position:relative;top:-50px;z-index:3;color:#f7f2e5;font-size:15px;padding:50px 30px 25px;line-height:1.5}.block__link{color:#fbe70d!important;text-decoration:underline!important;font-size:15px}

.workbench{margin: 0 auto;background-image:url(/images/craft/main.png);width:660px;height:398px;background-size:contain;background-repeat: no-repeat;}
table#xcraft{width:310px;height: 366px;padding-top: 88px;padding-left: 32px;text-align:center;}
table#xcraft tr{
  height: 91px;
}
table#xcraft td{
  width: 94px;
}
table#xcraft .c_elem{
  height: 81px;cursor:pointer;
}

.workbench #klogo{background-image:url(/images/craft/logo.png);background-repeat: no-repeat;background-position: 2px -7px;position:relative;height:60px;width:280px;top:-348px;left:32px;}
.workbench #resultItem{position: relative;height: 135px;width: 135px;top: -339px;left: 495px;text-align: center;}
.workbench #resultItem img{cursor:pointer;height: 123px;}
.workbench #priceStat{position: relative;height: 75px;top: -360px;width: 262px;font-size: 24px;text-align: center;left: 349px;color: #3a3a3a;}
.workbench #loadBar{position: relative;height: 81px;width: 0px;top: -455px;background-image: url(/images/craft/load.png);background-repeat: no-repeat;background-size: cover;left: 341px;}
.workbench #craftBtn{cursor:pointer;background-image:url(/images/craft/btn2.png);position: relative; height: 57px;width: 254px;top: -412px;left: 375px;}
.workbench #craftBtn:hover{background-image:url(/images/craft/btn1.png);}